# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}


# Backend Rails
RAILS_ENV=development
RAILS_PORT=3006

# Frontend Angular
ANGULAR_PORT=4005

# Admin Credentials
USER_ADMIN=admin_gle
SENHA_ADMIN=sua_senha_segura