# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=GLE
POSTGRES_USER=sysdba
POSTGRES_PASSWORD=wildfire
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Configurações do Backend Rails
RAILS_ENV=development
RAILS_PORT=3000

# Configurações do Frontend Angular
ANGULAR_PORT=4200

# URL da API para o Frontend
API_URL=http://localhost:3000/api

