# Configurações do Banco de Dados PostgreSQL (servidor externo)
# DATABASE_URL no formato: postgresql://usuario:senha@host:porta/banco
DATABASE_URL=postgresql://sysdba:wildfire@SEU_SERVIDOR:5432/GLE

# Configurações do Backend Rails
RAILS_ENV=development
RAILS_PORT=3005

# Configurações do Frontend Angular
ANGULAR_PORT=4005

# URL da API para o Frontend
API_URL=http://localhost:3005/api

