<aside class="flex flex-column mr-0" [class.collapsed]="collapsed">

  <div class="sidebar-body">
    <div class="header">
      <header class="flex align-items-center justify-content-center">
        <a routerLink="/">
          <img [src]="logo" alt="Logo GLE">
        </a>
      </header>
    </div>

    <div class="area-filter" *ngIf="!collapsed">
      <p-dropdown
        [options]="sidebarMenu.areaOpcoesFiltro"
        [ngModel]="sidebarMenu.areaFiltro"
        (onChange)="sidebarMenu.filtrarArea($event.value)"
        optionLabel="label"
        optionValue="value"
        placeholder="Todas as áreas"
        styleClass="w-full">
      </p-dropdown>
    </div>

    <div #panelMenuContainer class="content">
      <div *ngIf="sidebarMenu.carregandoCategorias && !collapsed" class="sidebar-loading">
        <div class="sidebar-skeleton" *ngFor="let i of [1,2,3,4,5]"></div>
      </div>
      <p-panelMenu
        *ngIf="!sidebarMenu.carregandoCategorias"
        #panelMenu
        [model]="sidebarMenu.menus"
        [multiple]="false"
        [ngClass]="{'narrow-menu': collapsed}" />
      <p-menu
        #subMenu
        id="subMenu"
        [popup]="true"
        [appendTo]="panelMenuContainer"
        (onShow)="onSubMenuShow($event)" />
    </div>

    <div class="footer">
      <button
        pButton
        (click)="toggleCollapse()"
        [icon]="collapsed ? 'pi pi-angle-right' : 'pi pi-angle-left'">
      </button>
    </div>
  </div>

</aside>

<app-nova-categoria-dialog [(visible)]="showModalCategoria"></app-nova-categoria-dialog>
<app-nova-secao-dialog [(visible)]="showModalSecao"></app-nova-secao-dialog>
